<!-- templates/portfolio/testimoni.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iPortfolio - Testimoni</title>
</head>
<body>

    <nav>
        <a href="{% url 'home' %}">Home</a> | 
        <a href="{% url 'about' %}">About</a> | 
        <a href="{% url 'portfolio' %}">Portfolio</a> | 
        <a href="{% url 'services' %}">Services</a> | 
        <a href="{% url 'skills' %}">Skills</a> | 
        <a href="{% url 'testimoni' %}">Testimoni</a> | 
        <a href="{% url 'contact' %}">Contact</a>
    </nav>
    <hr>

    <main>
        <h1>Testimoni Page</h1>
        <p>Ini adalah halaman yang menampilkan daftar ulasan, kepuasan, dan umpan balik positif dari para klien yang telah menggunakan jasa profesional Anda dalam proyek website iPortfolio Anda.</p>
    </main>
    <hr>

    <footer>
        <p>&copy; 2026 iPortfolio. All Rights Reserved.</p>
    </footer>

</body>
</html>